* {
    /* מרחיב את הבורדר והפדינג כלפי פנים ולא כלפי חוץ כברירת מחדל */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    direction: rtl;
}
.container-fluid {
    width: 100%;
    padding: 0px 16px;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}
header{
    background: rgb(88, 16, 16);
    min-height: 80px;
}
header .container{
    align-items: center;
}
header nav a {
    color: white;
    text-decoration: none;
    padding: 0 12px;
}
header nav a:hover {
    color: gold;
    text-decoration: underline;
}
header .icon{
    border: none;
    border-radius: 30px;
}
header nav a[href="events.html"]{
    color: gold;
}
main{
    background-image: url(images/בית\ כנסת.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 1500px;
    padding: 8px;
}
main .container{
    display: block;
}
main .box{
    display: flex;
    padding: 32px;
    height: 30%;
    font-size: 12px;
} 
main .container .box .img{
    transition: 2000ms;
}
main .container .box .img:hover{
    transform: scale(1.5,1.5);
}
main .container .box .explanation{
    background: white;
    text-align: center;
    padding: 8px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}